---
import Section from "./Section.astro";
import HeroImage from "@assets/pics/hero_text.svg";
---

<Section id="home" style="bg-cyan">
  <div
    class="relative flex flex-col-reverse items-center md:flex-row"
    id="hero"
  >
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-20">
      <div class="text-left space-y-3">
        <h1
          class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left"
        >
          Idaho's <br />
          <i class="font-bold">Do Something Club</i>
          <br /> since 2018
        </h1>
        <p
          class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12"
        >
          Get involved with Idaho’s most active ham radio community! From
          regular group activities to monthly meetups exploring the technical
          side of the hobby, there’s always something happening <br /> —and you’re
          invited to be part of it.
        </p>
        <div
          class="w-full justify-center md:justify-start items-center inline-flex"
        >
          <a
            href="https://www.facebook.com/groups/SouthWestIdahoARC"
            target="_blank"
            class="px-8 py-5 bg-dark hover:bg-gray rounded-2xl text-center text-white hover:text-black text-xl font-normal leading-7"
            >Connect with us
          </a>
        </div>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-10 md:pt-20">
      <!--<Image src={HeroIlust} alt="Hero Ilustration" loading="eager" width="600" /> -->
      <HeroImage width="600" height="400" />
    </div>
  </div>
</Section>
