---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "@/components/sections/Section.astro";
---

<MainLayout title="calendar">
        <Section id="calendar">
            <iframe src="https://secure.hamclubonline.com/club/calendar.php?id=286" class="mx-auto my-10 sm:min-w-[450px] md:min-w-[700px] lg:min-w-[900px] min-h-[900px]"></iframe>
        </Section>
</MainLayout>