---
import AccordionItem from "./AccordionItem.astro";

interface Props {
  content: {
    index: number;
    title: string;
    description: string;
  }[];
}

const { content } = Astro.props;
---

{
  content.map((item) => {
    return (
      <AccordionItem index={item.index} title={item.title}>
        <p class="prose mb-4 mt-1 max-w-full pt-5 pb-[60px] transition-[height]">
          {item.description}
        </p>
      </AccordionItem>
    );
  })
}
